input{
    
    margin-top: 10px;
    width:20%;
    height:7%;
    padding-left: 2%;
    font-size: 16px;
    border-radius: 30px;
    border-color: gold;
}

button{
padding: 10px;
border-radius: 10px;

}

#date{
    font-size: 26px;
    padding-top:20px;
}

.display{
    padding-top: 10px;
    font-size: 30px;
    width:30%;
    margin:0px auto;
    display: none;
}

p{
   float:left;
}

img{
    height: 80%;
    width: 80%;
    float: left;
}

.content{
   
    height:1000px;
    width:100%;
background-attachment: fixed;
     background-image: url('sky.jpg');
    background-repeat: no-repeat;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}